# Dummy engine app: always use Postgres for test
#
# Priority:
# 1. DATABASE_URL if provided (CI, docker-compose, act)
# 2. Fallback to local Postgres (for local `rails s` or `rspec`)

default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>
  timeout: 5000

development:
  adapter: postgresql
  encoding: unicode
  host: localhost
  username: postgres
  password:
  database: panda_cms_dummy_development
  pool: 5

test:
  adapter: postgresql
  encoding: unicode
  host: localhost
  username: postgres
  password:
  database: panda_cms_dummy_test
  pool: 5
