# Dummy engine app: always use Postgres for test

default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>
  timeout: 5000

development:
  <<: *default
  database: panda_cms_dummy_development
  host: 127.0.0.1
  username: postgres
  password: password

test:
  <<: *default
  database: panda_cms_dummy_test
  host: 127.0.0.1
  username: postgres
  password: password
  pool: 5
