<%= render Panda::Core::Admin::ContainerComponent.new do |component| %>
  <% component.heading(text: "Files", level: 1) %>

  <% component.slideover(title: "File Details") do %>
    <div class="pt-4 pb-16 space-y-6" data-file-gallery-target="slideoverContent">
      <% if @selected_file %>
        <%= render partial: "file_details", locals: { file: @selected_file } %>
      <% else %>
        <p class="text-sm text-gray-500">Select a file to view details</p>
      <% end %>
    </div>
  <% end %>

  <div data-controller="file-gallery" class="pb-24">
    <%= render Panda::Core::Admin::FileGalleryComponent.new(files: @files, selected_file: @selected_file) %>
  </div>
<% end %>
