<div class="" data-controller="dashboard">
  <%= render Panda::Core::Admin::ContainerComponent.new do |container| %>
    <% container.heading(text: "Dashboard", level: 1) do |heading| %>
      <% heading.button(action: :add, text: "Add Page", link: new_admin_cms_page_path) %>
    <% end %>
    <div class="mt-5">
      <p class="text-gray-600">Welcome to Panda CMS Dashboard</p>
      <!-- Statistics widgets will be added in a future update -->
    </div>
  <% end %>
</div>
