@import "tailwindcss";

@theme {
  /* Custom theme configuration if needed */
}

@layer base {
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
}
