<% content_for :title, "Service Unavailable (503)" %>

<h1>503</h1>
<p>The site is temporarily unavailable.</p>
<p>We're performing scheduled maintenance. Please check back soon.</p>
<p><a href="/">Return to homepage</a></p>
