---
name: 'Release to RubyGems'

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/tastybamboo/panda-ci:ruby-4.0.1

    steps:
      - uses: actions/checkout@v6

      - name: Build gem
        run: gem build *.gemspec

      - name: Push to RubyGems
        env:
          RUBYGEMS_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
        run: |
          gem push *.gem --key rubygems --host https://rubygems.org

      - name: Upload built gem as artifact
        uses: actions/upload-artifact@v6
        with:
          name: gem-package
          path: '*.gem'
